<style>
  .product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
<div class="search-page">
  {% paginate search.results by 12 %}
  
  {% comment %}
    Each result template, based on the grid_layout variable above
  {% endcomment %}
  <div class="container">
    <div class="block-row">
      <ul class="product-list">
        
          {% for product in search.results %}
          {% include 'search-result-grid' %}
          {% endfor %}
      </ul>
    </div>
  </div>
  
  
  {% if paginate.pages > 1 %}
  <div class="text-center">
    {% include 'pagination-page' %}
  </div>
  {% endif %}
  {% endpaginate %}
  

  
</div>