<div class="filter-nav">
					<p class="filter-nav-tlt">Filter</p>
					<div class="filter-nav-item">
						<p class="filter-tlt">Categories</p>
						<ul class="filter-checkbox">
							<li><input type="checkbox" id="cate1" name="cate1" value="cate1"><label
									for="cate1">Categories 1</label></li>
							<li><input type="checkbox" id="cate2" name="cate2" value="cate2"><label
									for="cate2">Categories 1</label></li>
							<li><input type="checkbox" id="cate3" name="cate3" value="cate3"><label
									for="cate3">Categories 1</label></li>
							<li><input type="checkbox" id="cate4" name="cate4" value="cate4"><label
									for="cate4">Categories 1</label></li>
							<li><input type="checkbox" id="cate5" name="cate5" value="cate5"><label
									for="cate5">Categories 1</label></li>
						</ul>
					</div>
					<div class="filter-nav-item">
						<p class="filter-tlt">Colors</p>
						<ul class="filter-color">
							<li><input type="checkbox" id="black" name="black" value="black"><label class="black"
									for="black"></label></li>
							<li><input type="checkbox" id="blue" name="blue" value="blue"><label class="blue"
									for="blue"></label></li>
							<li><input type="checkbox" id="red" name="red" value="red"><label class="red"
									for="red"></label></li>
							<li><input type="checkbox" id="green" name="green" value="green"><label class="green"
									for="green"></label></li>
							<li><input type="checkbox" id="orange" name="orange" value="orange"><label class="orange"
									for="orange"></label></li>
						</ul>
					</div>

					<div class="filter-nav-item">
						<p class="filter-tlt">Product Tags</p>
						<ul class="filter-tag">
							<li><input type="checkbox" id="tag1" name="tag1" value="tag1"><label for="tag1">Tag</label>
							</li>
							<li><input type="checkbox" id="tag2" name="tag2" value="tag2"><label for="tag2">Tag</label>
							</li>
							<li><input type="checkbox" id="tag3" name="tag3" value="tag3"><label for="tag3">Tag</label>
							</li>
							<li><input type="checkbox" id="tag4" name="tag4" value="tag4"><label for="tag4">Tag</label>
							</li>
							<li><input type="checkbox" id="tag5" name="tag5" value="tag5"><label for="tag5">Tag</label>
							</li>
						</ul>
					</div>
				</div>